{% extends 'polls/base.html' %}

{% block content %}
    <h1>List Events</h1>
    <br>
<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">Event Name</th>
      <th scope="col">Show Link</th>
    </tr>
  </thead>
  <tbody>
      {% for event in event_list %}
      <tr>
         <td>
             {{ event }}
         </td>
         <td>
             <a href="{% url 'show_event' event.id %}" class="btn bnt-sm btn-secondary">Show</a>
         </td>
      </tr>

      {% endfor %}

  </tbody>
</table>

{% endblock %}